/*COPIED from JHACH USNWR campaign, Feb 2022. */
//COLORS
@hopkinsyellow: #ebb700;
@hopkinsblue: #002c77;
@pink: rgba(247, 183, 210, 1);
@white: rgba(255, 255, 255, 1);
@whiteclear: rgba(255, 255, 255, 0.7);
@whiteblue: #F5F8FC;
@bone: #fffaf0;
@ltgray: rgba(245, 251, 252, 1);
@gray: rgba(200, 200, 200, 1);
@green: rgba(60, 172, 79, 1);
@teal: #0eaabf;
@magenta: #dd1372;
@magentaclear: rgba(221,19,114,.8);
@orange: #f6861f;
@red: #d32027;
@charcoal: #0c0c0c;
@ltblue: #00ade4; //used to be #10ade3
@dkpink: #e75a9d;
@dkblue: #4c6b9f;
@black: #000000;
@navy: #00235d;
@slateblue: #58a5a9;

@graytext: #555555;
@import url('/typography.less');
@import url('/layout.less');

.img-placeholder rect{
    fill:@gray;
    stroke-width:1;
    stroke:@ltgray;
    color:#000000;
}