header {
  display: block;

  .bluestrip {
    display: none;
    background-color: @hopkinsblue;
    color: @white;
    min-height: 50px;
  }

  nav {
    //float: right;
    background-color: @hopkinsblue;
  }
}
/* Color Bars
--------------------------------------------------*/
.color-bars {
  width: 100%;
}
.color-bars .bar {
  display: block;
  float: left;
  width: 12.5%;
  height: 6px;
}
.color-bars .orange {
  background: @orange;
}
.color-bars .magenta {
  background: @magenta;
}
.color-bars .green {
  background: @green;
}
.color-bars .teal {
  background: @teal;
}
.color-bars .red {
  background: @red;
}
.color-bars .pink {
  background: @pink;
}
.color-bars .yellow {
  background: @hopkinsyellow;
}
.color-bars .blue {
  background: @ltblue;
}
.color-bars.footer .bar {
  height: 10px;
  margin-top: 0;
}

/* Hero */

.hero {
  background-color: @bone;
}

figure.imgbanner {
  /*   float:right;
  width:25%; */
}

/* footer */

footer {
  background-color: @hopkinsblue;
  color: @white;
  //position: fixed;
  // top: 100%;
  //bottom: 0;
}

/* Blue panels */

.panel-primary-blue {
  color: @white;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  & .card-body {
    position: relative;
    z-index: 2;
    padding: 0px;
  }
  &::before {
    content: "";
    background: @navy;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.panel-primary-blue-hosp {
  .panel-primary-blue;
  background-image: url("/ACH/media/ACHJHACCN/jhachexterior.jpg");
}

.panel-primary-blue-mission {
  .panel-primary-blue;
  background-image: url("/ACH/media/ACHJHACCN/child-1280x853.jpg");
}

.panel-primary-blue-leadership {
  .panel-primary-blue;
  background-image: url("/ACH/media/ACHJHACCN/team-1280x853.jpg");
}

.panel-primary-blue-join {
  .panel-primary-blue;
  background-image: url("/ACH/media/ACHJHACCN/fistbump-1280x853.jpg");
}

ol.leadership{
  columns:2;
  list-style: none;
}
