/*typography.less*/
body {
  font-family: "proxima-nova", "Open Sans", sans-serif;
}
/*
a {
  &:link {
    color: @hopkinsblue;
  }
  &:hover {
    color: @dkblue;
    text-decoration: underline;
  }
  &:active {
    color: @red;
  }
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  &.sa {
    font-family: "Sanchez", "Courier New", Courier, serif;
  }
}

.subtitle {
  color: @graytext;
}