/*COPIED from JHACH USNWR campaign, Feb 2022. */
/*typography.less*/
body {
  font-family: "proxima-nova", "Open Sans", sans-serif;
}
/*
a {
  &:link {
    color: @hopkinsblue;
  }
  &:hover {
    color: @dkblue;
    text-decoration: underline;
  }
  &:active {
    color: @red;
  }
}*/
h1.sa,
h2.sa,
h3.sa,
h4.sa,
h5.sa,
h6.sa {
  font-family: "Sanchez", "Courier New", Courier, serif;
}
.subtitle {
  color: #555555;
}
header {
  display: block;
}
header .bluestrip {
  display: none;
  background-color: #002c77;
  color: #ffffff;
  min-height: 50px;
}
header nav {
  background-color: #002c77;
}
/* Color Bars
--------------------------------------------------*/
.color-bars {
  width: 100%;
}
.color-bars .bar {
  display: block;
  float: left;
  width: 12.5%;
  height: 6px;
}
.color-bars .orange {
  background: #f6861f;
}
.color-bars .magenta {
  background: #dd1372;
}
.color-bars .green {
  background: #3cac4f;
}
.color-bars .teal {
  background: #0eaabf;
}
.color-bars .red {
  background: #d32027;
}
.color-bars .pink {
  background: #f7b7d2;
}
.color-bars .yellow {
  background: #ebb700;
}
.color-bars .blue {
  background: #00ade4;
}
.color-bars.footer .bar {
  height: 10px;
  margin-top: 0;
}
/* Hero */
.hero {
  background-color: #fffaf0;
}
figure.imgbanner {
  /*   float:right;
  width:25%; */
}
/* footer */
footer {
  background-color: #002c77;
  color: #ffffff;
}
/* Blue panels */
.panel-primary-blue {
  color: #ffffff;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
}
.panel-primary-blue .card-body {
  position: relative;
  z-index: 2;
  padding: 0px;
}
.panel-primary-blue::before {
  content: "";
  background: #00235d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.panel-primary-blue-hosp {
  color: #ffffff;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  background-image: url("/ACH/media/ACHJHACCN/jhachexterior.jpg");
}
.panel-primary-blue-hosp .card-body {
  position: relative;
  z-index: 2;
  padding: 0px;
}
.panel-primary-blue-hosp::before {
  content: "";
  background: #00235d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.panel-primary-blue-mission {
  color: #ffffff;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  background-image: url("/ACH/media/ACHJHACCN/child-1280x853.jpg");
}
.panel-primary-blue-mission .card-body {
  position: relative;
  z-index: 2;
  padding: 0px;
}
.panel-primary-blue-mission::before {
  content: "";
  background: #00235d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.panel-primary-blue-leadership {
  color: #ffffff;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  background-image: url("/ACH/media/ACHJHACCN/team-1280x853.jpg");
}
.panel-primary-blue-leadership .card-body {
  position: relative;
  z-index: 2;
  padding: 0px;
}
.panel-primary-blue-leadership::before {
  content: "";
  background: #00235d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.panel-primary-blue-join {
  color: #ffffff;
  border: none !important;
  position: relative;
  padding: 60px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-attachment: inherit !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  background-image: url("/ACH/media/ACHJHACCN/fistbump-1280x853.jpg");
}
.panel-primary-blue-join .card-body {
  position: relative;
  z-index: 2;
  padding: 0px;
}
.panel-primary-blue-join::before {
  content: "";
  background: #00235d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
ol.leadership {
  columns: 2;
  list-style: none;
}
.img-placeholder rect {
  fill: #c8c8c8;
  stroke-width: 1;
  stroke: #f5fbfc;
  color: #000000;
}
